<ul class="navbar-nav bg-gradient-warning sidebar sidebar-dark accordion" id="accordionSidebar">
        
    <!-- Sidebar - Brand -->
    <nav class="navbar navbar-expand navbar-light bg-primary topbar mb-4 static-top shadow">
        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        
            <div class="sidebar-brand-icon  align-items-left">
                <img src="../img/logo_dad.png" width="45">
                
            </div>
            
        
           <!-- <div class="sidebar-brand-text mx-3">SB Admin <sup>2</sup></div> -->
        </a>
    </nav>

    <!-- Divider -->
  

    <!-- Nav Item - Dashboard -->
   <!--  <li class="nav-item active">
        <a class="nav-link" href="/">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>แจ้งซ่อม</span></a>
    </li> -->

    <!-- Divider -->
    <!-- <hr class="sidebar-divider"> -->

    <!-- Heading -->
    <!--   <div class="sidebar-heading">
            Interface
            </div> -->

    <!-- Nav Item - Pages Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link" href="/ticket">
            <i class="fas fa-fw fa-wrench"></i>
            
            <span>แจ้งซ่อม</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/weather">
            <i class="fa fa-cloud"></i>
            
            <span>สภาพอากาศ</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/parking">
            <i class="fa fa-map-marker"></i>
            <span>จุดจอดรถ/จองจุดจอดรถ</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/login_page">
            <i class="fas fa-fw fa-tachometer-alt"></i>
            <span>นำทาง</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/login_page">
            <i class="fa fa-car"></i>
            <span>สถานะรถโดยสาร</span></a>
    </li>
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
            aria-expanded="true" aria-controls="collapseTwo">
            <i class="fa fa-user"></i>
            <span>Users</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                
                <a class="collapse-item" href="/user">User list</a>
                <a class="collapse-item" href="/admin">Admin list</a>
                <a class="collapse-item" href="/add">Add user</a>
            </div>
        </div>
    </li>
    <li class="nav-item active">
        <a class="nav-link" href="/">
        <i class="fas fa-fw fa-cog"></i>
            <span>Setting</span></a>
    </li>
    <!-- Nav Item - Utilities Collapse Menu -->
    <li class="nav-item active">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
            aria-expanded="true" aria-controls="collapseUtilities">
            <i class="fas fa-clipboard-list"></i>
            <span>Report</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
            data-parent="#accordionSidebar">
            <div class="bg-white py-2 collapse-inner rounded">
                <h6 class="collapse-header">Report:</h6>
                <a class="collapse-item" href="/report_service">แจ้งซ่อม</a>
                <a class="collapse-item" href="/report_weather">สภาพอากาศ</a>
                <a class="collapse-item" href="/report_parking">จุดจอดรถ</a>
                <a class="collapse-item" href="/report_navi">นำทาง</a>
                <a class="collapse-item" href="/report_status">สถานะรถโดยสาร</a>
                <a class="collapse-item" href="/report_chat">Live Chat</a>
                <a class="collapse-item" href="/report_log">System Log</a>
            </div>
        </div>
    </li>


    <!-- Sidebar Toggler (Sidebar) -->
    <!-- <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
    </div> -->


</ul>