<div id="ww_45a988bb190cc" v='1.3' loc='id' 
a='{"t":"horizontal","lang":"en","sl_lpl":1,"ids":["wl1812"],"font":"Arial","sl_ics":"one","sl_sot":"celsius",
"cl_bkg":"#FFFFFF","cl_font":"#000000","cl_cloud":"#d4d4d4","cl_persp":"#2196F3","cl_sun":"#FFC107",
"cl_moon":"#FFC107","cl_thund":"#FF5722"}'>
Weather Data Source: 
<a href="https://wetterlang.de/bangkok_wetter_30_tage/" id="ww_45a988bb190cc_u" target="_blank">Wetter 30 tage Bangkok</a>
</div>
<script async src="https://app2.weatherwidget.org/js/?id=ww_45a988bb190cc"></script>


